<h1>Welcome!</h1>
<h2>Muad'Dib has provided only the best Spices from Arrakis and throughout the Galaxy since 10191 A.G.</h2>
<h3><em>"He who controls the spice controls the universe."</em></h3>
<% if @products_most_recent.any? %>
  <h5>Freshest Spices! (most recently added)</h5>
  <ul>
    <% @products_most_recent.each do |product| %>
      <li><%= link_to product.name, product_path(product)%></li>
    <% end %>
  </ul>
<% else %>
  <p>No recently added spices to display.</p>
<%end%>

<% if @products_most_reviews.any? %>
  <h5>Our Most Reviewed Spice is 
  <% @products_most_reviews.each do |product| %>
    <%= link_to product.name, product_path(product)%>
  <% end %>
  (See for yourself what all the hoopla is about!)</h5>
<% else %>
  <p>No reviewed spices to display.</p>
<%end%>