/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
  color: #34180B;
  font-size: 1.1em;
}
.nav-item {
  list-style-type: none;
  padding: 1.4rem;
}
.navbar, .container {
  background-color: #e1a96c;
  border: 5px solid #B8C9DB;
  border-radius: 20px;
}

.review-block {
  margin: 1px 15px 1px 15px;
}

.navbar-brand {
  margin-top: 2px;
  font-size: 2em;
  font-weight: 900;
}

.navbar {
  margin: 0.5% 4% 1% 4%;
}

.review {
  font-style: italic;
  margin-left: 5px;
}

.byline {
  font-size: .9em;
  color: #34180bd0;
}
body {
  background-color: #7F95B4;
}

.container {
  padding-bottom: 15px;
}

.flash {
  margin-top: 5px;
  font-style: italic;
}

.error {
  color: red;
}

a {
  color: #34180b;
  font-size: 1.1em;
}

a:hover {
  color: #0360a5;
}